<style>
#navbar {
  position: sticky;
  top: 0;
}
.navbar-light {
    background-color: rgb(255, 255, 255);
    border: 2px solid #a9a9a9;
}
.navbar-dark {
    position: sticky;
    top: 0;
    background-color: rgb(50, 50, 50);
    border: 2px solid #000000;
}
</style>
<div id="navbar" class="navbar-dark"><p>Navbar</p></div>